
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{

    width:100%;
    height:50px;

    background:#F7F3EA;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;

    border-bottom:1px solid #dddddd;

}

.menu{

    display:flex;
    list-style:none;

}

.menu li{

    margin-right:30px;

}

.menu li a{

    text-decoration:none;
    color:#666666;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;

}

.menu li a:hover{

    color:#000000;

}

.icons{

    display:flex;
    align-items:center;

}

.icons a{

    text-decoration:none;
    color:#333333;
    font-size:16px;
    margin-left:20px;

}

.icons a:hover{

    color:#000000;

}

.hero{

    position:relative;

    width:100%;

    height:calc(150vh);

    overflow:hidden;
}
.banner{

    width:100%;

    height:100%;

    object-fit:cover;
  
    display:block;
   
}

.logo-text{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:10;
}
.logo{

    width:1200px;

    height:auto;
}
.features{
    margin-top:0;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:10px 20px;
}
.box{
    flex:1;
    text-align:center;
}
.box img{
    width:150px;
    height:150px;
    object-fit:contain;
    margin-bottom:25px;
}

.box h2{
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    color:#2b2b2b;
}

.box p{
    color:#666;
    font-size:15px;
    line-height:20px;
}

.categories{

    width:100%;

    padding:30px 50px 10px;

    text-align:center;

}

.categories h2{

    font-size:40px;

    margin-bottom:40px;

    color:#222;

}

.category-container{

    display:flex;

    justify-content:space-between;

    gap:30px;

}

.category-card{

    flex:1;

    overflow:hidden;

    cursor:pointer;

}

.category-card img{

    width:100%;

    height:500px;

    object-fit:cover;

    transition:0.5s;

}

.category-card:hover img{

    transform:scale(1.08);

}

.category-card h3{

    margin-top:20px;

    font-size:24px;

    letter-spacing:2px;

}

body{
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
}

.offer-section{
    width:95%;
    margin:20px auto;
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.card{
    width:32%;
    height:210px;
    position:relative;
    overflow:hidden;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  
    }

.card1{
     background-image:url("vip.webp");
}

.card2{

    background-image:url("wallet.webp");
}

.card3{
        background-image:url("gift.webp");
}
.card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
}

.content{
    position:absolute;
    top:15px;
    left:15px;
    width:45%;
    z-index:2;
}

.content h2{
    color:#d4af37;
    font-size:22px;
    margin-bottom:12px;
}

.content p{
    color:#d4af37;
    font-size:15px;
    line-height:24px;
    margin-bottom:15px;
}
.content button{
    width:170px;
    height:45px;
    border:none;
    background:#d4af37;
    color:#111;
    font-size:18px;
    cursor:pointer;

    margin-top:20px;
}
.content button:hover{
    background:#f5cf59;
}

.card{
    width:32%;
    height:210px;
    position:relative;
    overflow:hidden;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}   .card::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.55);
}
.women-bags{
    width:95%;
    margin:70px auto;
}

.section-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.section-title h2{
    font-size:28px;
    color:#222;
}

.section-title a{
    text-decoration:none;
    color:#222;
    font-weight:bold;
    font-size:15px;
}

.bag-container{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.bag-card{
    width:22%;
    display:flex;
    flex-direction:column;
}

.bag-image{
    position:relative;
    width:100%;
    height:380px;
    overflow:hidden;
}

.bag-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s;
}

.bag-card h3{
    margin-top:15px;
    font-size:15px;
    line-height:22px;
}

.bag-card p{
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
}.bag-image{
    position:relative;
    width:100%;
    height:380px;
    overflow:hidden;
}

.bag-image{
    position:relative;
    width:100%;
    height:380px;
    overflow:hidden;
}

.bag-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s;
}

.img1{
    opacity:1;
}

.img2{
    opacity:0;
}

.bag-image:hover .img1{
    opacity:0;
}

.bag-image:hover .img2{
    opacity:1;
}
.promo-gallery{
    width:100%;
    display:flex;
    margin-top:70px;
}

.promo-card{
    width:22%;
    height:470px;
     flex:1;
    border:3px solid #ffffff;
    position:relative;
    overflow:hidden;
}

.promo-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.promo-card:hover img{
    transform:scale(1.08);
}

.promo-card span{
    position:absolute;
    top:15px;
    left:18px;
    color:#444;
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;
}
/* Black Strip */

.vip-strip{
    background:#1f1f1f;
    color:#d4af37;
    font-size:25px;
    font-weight:bold;
    padding:14px 0;
    text-transform:uppercase;
}

/* Join Club */

.join-club{
    background:#f6f1e9;
    padding:40px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.join-left h2{
    font-size:25px;
    color:#555;
    margin-bottom:10px;
}

.join-left p{
    color:#666;
    font-size:15px;
}

.join-right{
    display:flex;
    gap:20px;
}

.join-right input{
    width:650px;
    height:55px;
    border:none;
    border-radius:40px;
    padding-left:25px;
    background:#ebe4d9;
    font-size:17px;
}

.join-right button{
    width:140px;
    background:#000;
    color:#fff;
    border:none;
    cursor:pointer;
    font-size:17px;
}

/* Footer */

.footer{
    background:#ececec;
    padding:60px 40px;
    display:flex;
    justify-content:space-between;
}

.footer-box{
    width:23%;
}

.footer-box h3{
    margin-bottom:30px;
    font-size:20px;
}

.footer-box a{
    display:block;
    text-decoration:none;
    color:#333;
    margin-bottom:18px;
    font-size:17px;
}

.copyright{
    margin-top:40px;
    color:#666;
}

.email-line{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid #222;
    padding-bottom:8px;
}

.email-line input{
    border:none;
    background:transparent;
    outline:none;
    width:90%;
    font-size:17px;
}